
  <% if !defined? cats %>
    <% cats = @topcategories %>
  <% end %>

  <% cats.each do |category| %>
    <li rel="<%= category.id %>"><%= category.translations.find_by(language_id: session[:language_id]).name %></li>
      <% if category.children.any?  %>
        <ul>
          <%= render partial: 'navigation', locals: {cats: category.children}  %>
        </ul>
      <% end %>
  <% end %>

