<div class="row">
    <div class="large-12 columns shop-logo">
        <img src="/assets/logo.png"/>
    </div>
</div>
<div class="row">
    <div class="large-2 columns">
        <ul class="shopnav">
            <%= render partial: 'navigation' %>
        </ul>
    </div>
    <div id="items" class="large-8 columns items">
        <%= render partial: 'items/items' %>
    </div>
    <div id="cart" class="large-2 columns">
        <div class="cart-header foundicon-cart"></div>
        <div class="cart-content">
            <div id="shoppingcart">

            </div>
            <%= link_to_clear_cart %>
            <%= link_to t('order_now'), new_order_path, class: "button", id: "ordernow" %>
        </div>
    </div>
</div>