<div class="row">
    <div class="large-12 columns">
        <img src="/assets/logo.png"/>
    </div>
</div>
<div class="row">
    <div class="large-2 columns">
        <ul class="shopnav">
            <%= render partial: 'navigation' %>
        </ul>
    </div>
    <div id="items" class="large-8 columns items">
        <%= render partial: 'items/items' %>
    </div>
    <div id="cart" class="large-2 columns">
      <div id="shoppingcart">

      </div>
      <%= link_to_clear_cart "Clear Cart" %>
      <%= link_to "Order Now!", new_order_path, class: "button" %>
    </div>
</div>