$border: 1px solid #000000;

ul.shopnav {
  border-bottom: $border;
  border-left: $border;
  border-right: $border;
  float: left;
  margin-bottom: 0;
}

.shopnav li {
  list-style: none;
}

.shopnav ul {
  display: none;
  margin: 0;
  padding: 0;
}

.shopnav li div {
  border-top: $border;
}

.shopnav li ul {
   border-top: $border;
 }

.shopnav li ul li ul {
  border: none;
}

.shopnav li ul li div {
  padding-left: 10px;
  border: none;
}

.shopnav li ul li ul li div {
  padding-left: 20px;
}