ul.shopnav {
  float: left;
  margin-bottom: 0;
}

.shopnav li {
  list-style: none;
}

.shopnav ul {
  display: none;
  margin: 0;
  padding: 0;
}

.shopnav .nav-toggle {
  font-size: 8px;
  width: 8px;
  display: inline-block;
}

.shopnav li div {
  background: #D9D9D9;
  border: 1px solid #bababa;
  padding: 5px;
  min-width: 150px;
  font-weight: bold;
  cursor: pointer;
}

.shopnav li.active div {
  background: #b6b6b6;
}

.shopnav li ul li div, .shopnav li.active ul li div, .shopnav li ul li.active ul li div {
  padding-left: 15px;
  background: #F2F2F2;
  border: none;
  font-weight: normal;
}

.shopnav li ul li.active div {
  background: #e3e3e3;
}

.shopnav li ul li ul li div, .shopnav li.active ul li ul li div, .shopnav li ul li.active ul li div {
  padding-left: 30px;
}