<div class="row">
    <div class="large-12 columns">
        <h1>Editing category</h1>
    </div>

    <%= render 'form' %>

    <div class="large-12 columns">
        <%= link_to 'Show', @category, class: 'button' %> |
        <%= link_to 'Back', categories_path, class: 'button' %>
    </div>
</div>